@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialiconsoutlined/v95/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUce.woff2) format('woff2');
  }

body{
    text-align: center;
    cursor: default;
}



.homeName{
    font-family: 'Supermercado One';
    font-size: 52px;
    color: #ddd;
    margin: 25px;
    cursor: default;
    
}

.homeIntro{
    font-family: 'Open Sans';
    font-weight: bolder;
    color: #ddd;
    margin: 25px;
    font-size: 25px;
    cursor: default;
}

.heading{
    font-family: 'Roboto Mono';
    font-size: 30px;
    color: #00649e;
    font-weight: bold;
    cursor: default;
}

.mainPage{
    text-align: justify;
    font-family: 'Noto Sans';
    line-height: 30px;
    cursor: default;
}

.extensionName{
    font-size: 20px;
    font-family: 'Roboto Mono';
    margin: 10px;
    text-align:left;
    cursor: pointer;
}

.extensionsContent{
    text-align: left;
    border: 1px solid #999;
    margin-top: 25px;
    padding: 25px;
    cursor: default;
}

.material-icons-outlined{
    font-family: 'Material Icons Outlined';
}

.footer{
    background-color: #ddd;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Noto Sans';
}

.contact{
    margin-right: 250px;
    margin-left: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #999;
    text-align: left;
}

.contactText{
    font-family: 'Noto Sans';
}

.contactBtn{
    font-family: 'Noto Sans';
    border: 1px solid #75b1d4;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #c2e4f8;
    border-radius: 5px;
}

.navbar-home{
    margin-right: 15px;
    font-size: 17px;
    cursor: pointer;
}

.navbar-home::before{
    margin-right: 5px;
    font-family: 'Material Icons Outlined';
    content: "home";
    font-size: 15px;
}

.navbar-contact{
    margin-right: 10px;
    margin-left: 5px;
    font-size: 17px;
    cursor: pointer;
}

.navbar-contact::before{
    margin-right: 5px;
    font-family: 'Material Icons Outlined';
    content: "contact_page";
    font-size: 15px;
}
